.container-ingresar {
    display: flex;
    background-color: #fff;
    height: 65%;
    width: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 75px;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
  }
  
  .container-ingresar_formulario {
    min-width: 400px;
  }
  
  .registerLink,
  .loginLink {
    align-self: flex-end;
  }
  
  .container-ingresar h3 {
    font-size: 45px;
    color: rgb(68, 157, 68);
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .formLogin {
    padding: 3.5em 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .registroForm {
    padding: 3.5em 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .box-ingresar {
    border: 0;
    background-color: #dfdfdf;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
    outline-color: #449d44;
  }
  
  .submit-ingresar {
    background-color: rgb(68, 157, 68);
    border: 0;
    padding: 4px;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    margin-top: 10px;
    
  }
  .formLogin p {
    margin: 0 0 0;
    text-align: center;
    color: #2e6329;
    font-size: 20px;
  }
  .registroForm p {
    margin: 0 0 0;
    text-align: center;
    color: #2e6329;
    font-size: 20px;
  }
  