
#gradiente {
  background-image: url('https://img.freepik.com/foto-gratis/fascinante-vista-montana-sassolungo-italia_181624-42103.jpg?t=st=1713507073~exp=1713510673~hmac=eadf08c1b994ea635807270b907f965f0cca4eb79a5d708d0f1c20743031afd5&w=900');
  background-size: cover;
  background-position: center;
  height: 80vh; /* Ajusta la altura según sea necesario */
  /* Agrega otros estilos según tus necesidades */
}

.color-custom {
  color: #240B5C;
}

.bg {
  background-color: #f8f9fa;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.avatar {
  height: 40px;
  width: 40px;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0c7e94 0%,
    #a90090 29%,
    #cd7bc4 67%,
    #d54cae 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #240B5C;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

.btn-primary {
  background:#240B5C ;
  color: #ffffff;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
