<p>nosotros works!</p>
<main class="flex-shrink-0">
    <!-- Section-->
    <section class="py-5">
      <div class="container px-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
              <h1>20 Años Cumpliendo Sueños con Travel Dreams</h1>
              <p>Desde hace <strong>15 años</strong>, Travel Dreams ha sido la brújula que guía a los jóvenes en el viaje más esperado de sus vidas: el viaje de egresados. Nuestra misión es más que un simple itinerario; es una promesa de aventura, camaradería y recuerdos imborrables.</p>
              <p>En el corazón de la <strong>Patagonia</strong>, donde la naturaleza se despliega en todo su esplendor, comenzamos nuestro camino. Con cada amanecer patagónico, renovamos nuestro compromiso de ofrecer experiencias únicas que marcan el inicio de la adultez con una celebración inolvidable.</p>
              <p>Operamos a lo largo y ancho del país, llevando la magia de Travel Dreams a cada rincón donde hay un sueño por cumplir. Nuestro equipo, experto en crear momentos mágicos, entiende que detrás de cada viaje hay historias, esperanzas y la promesa de un futuro brillante.</p>
              <p>Con Travel Dreams, cada destino es más que un lugar en el mapa; es un capítulo nuevo en el libro de la vida de nuestros jóvenes viajeros. Nos enorgullecemos de ser los guardianes de sus sueños, asegurándonos de que cada experiencia sea segura, emocionante y, sobre todo, transformadora.</p>
              <p>Porque en Travel Dreams, no solo hacemos viajes, tejemos los hilos dorados de la confianza y la alegría en el tapiz de la juventud. Aquí, donde los sueños toman vuelo, invitamos a cada estudiante a embarcarse en el viaje de su vida, con la certeza de que estarán en las mejores manos.</p>
              <a class="btn btn-lg" href="#scroll-target" style="background-color: rgb(50, 1, 50); color: white;">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <!-- Team members section-->
  
  </main>
