<p>registro works!</p>
<!-- Section: Design Block -->
<section class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: hsl(0, 0%, 96%)">
    <!-- Jumbotron -->
    <div class="container text-center text-lg-start">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <h1 class="fw-bolder center">REGISTRO</h1>
                            <!-- <form [formGroup]="signupForm"> -->
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <!-- <input formControlName="name" type="text" id="form3Example1" class="form-control" />
                                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert text-danger">
                                                    <div *ngIf="name.errors?.['required']">
                                                        El nombre es requerido.
                                                    </div>
                                                    <div *ngIf="name.errors?.['text']">
                                                        El nombre debe tener un formato válido.
                                                    </div>
                                                    <div *ngIf="name.errors?.['minlength']">
                                                        El nombre debe tener mínimo 3 caracteres.
                                                    </div> -->
                                                </div>
                                            <label class="form-label" for="form3Example1">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input formControlName="surname" type="text" id="form3Example2" class="form-control" />
                                                <!-- <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert text-danger">
                                                    <div *ngIf="surname.errors?.['required']">
                                                        El apellido es requerido.
                                                    </div>
                                                    <div *ngIf="surname.errors?.['text']">
                                                        El apellido debe tener un formato válido.
                                                    </div>
                                                    <div *ngIf="surname.errors?.['minlength']">
                                                        El apellido debe tener mínimo 3 caracteres.
                                                    </div> -->
                                                </div>
                                            <label class="form-label" for="form3Example2">Apellido</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <!-- <input formControlName="email" type="email" id="form3Example3" class="form-control" />
                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                        class="alert text-danger">
                                    
                                            <div *ngIf="email.errors?.['required']">
                                                El correo es requerido.
                                            </div>
                                            <div *ngIf="email.errors?.['email']">
                                                El correo debe tener un formato válido.
                                            </div>
                                        </div> -->
                                    <label class="form-label" for="form3Example3">Correo Electrónico</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input formControlName="password" type="password" id="form3Example4" class="form-control" />
                                        <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert text-danger">
                                            <div *ngIf="password.errors?.['required']">
                                                La contraseña es requerida.
                                            </div>
                                            <div *ngIf="password.errors?.['minlength']">
                                                La contraseña debe tener mínimo 5 caracteres.
                                            </div> -->
                                        </div>
                                    <label class="form-label" for="form3Example4">Contraseña</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input formControlName="repeatPassword" type="password" id="form3Example4" class="form-control" />
                                        <!-- <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="alert text-danger">
                                            <div *ngIf="repeatPassword.errors?.['required']">
                                                Repetir contraseña.
                                            </div>
                                            <div *ngIf="repeatPassword.errors?.['minlength']">
                                                La contraseña debe tener mínimo 5 caracteres.
                                            </div> -->
                                        </div>
                                    <label class="form-label" for="form3Example4">Confirmar Contraseña</label>
                                </div>


                                <!-- Submit button -->
                                <button type="submit" (click)="signup()" class="btn btn-success btn-block mb-4" >
                                    Registrarse
                                </button>
                            <!-- </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
    <!-- Jumbotron -->
<!-- </section> -->

