<!-- <div *ngFor="let destination of imagenList; let i = index">
    <div (click)="onSelectDestination(i)"> -->
      <!-- Renderiza la lista de destinos -->
      <!-- <img [src]="destination.url" alt="{{ destination.name }}" />
      <h2>{{ destination.name }}</h2>
      <p>{{ destination.description }}</p>
    </div>
  </div> -->
  
  <!-- Renderiza DestinosdetailsComponent con el id seleccionado -->
  <!-- <app-destinosdetails *ngIf="selectedDestinationId !== null" [id]="selectedDestinationId"></app-destinosdetails> -->